.color-picker {
    position: relative;
}

.color-picker canvas {
	margin: 5px;
}

.color-picker canvas:hover {
    cursor: pointer;
}

.color-picker .color-sample {
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 40px;
    margin: 5px;
}
